@import "./mixins.scss";
@import "./screens.scss";

.app {
}

.register-layout {
  @include flex(row, nill, nill);
  .register-sider {
    width: 25%;
    margin: 0;
    @include screen("inbetween") {
      display: none;
    }
  }
  .register-content {
    width: 75%;
    @include screen("inbetween") {
      width: 100%;
    }
  }
}

.auth-layout {
  @include flex(row, nill, nill);
  .log-sider {
    width: 21%;
    margin: 0;
    @include screen("inbetween") {
      display: none;
    }
  }
  .log-content {
    width: 79%;
    @include screen("inbetween") {
      width: 100%;
    }
  }

  .small-menu {
    width: 0%;
    height: 100vh;
    overflow-x: hidden;
    position: fixed;
    right: -100%;
    transition: width 2s, height 1s;
    background: #03180e;
    color: white;
    z-index: 200;
  }
  .side-open {
    width: 60%;
    height: 100vh;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    right: 0;
    border-left: 1px solid #8397ab;
  }
  .side-close {
    width: 0;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    transition: width 2s;
  }
}
