@import "./mixins.scss";
@import "./screens.scss";

.app {
  width: 100vw;
  // height: 100vh;
  // height: 56.25rem;
  min-height: 100vh;
  @include flex(row, nill, nill);
  padding: 0;
  // background-color: pink;

  .side-cont {
    width: 25%;
    @include screen("inbetween") {
      display: none;
    }
  }

  .content {
    width: 75%;
    box-sizing: border-box;
    @include screen("inbetween") {
      width: 100%;
    }
  }

  .log-sider-cont {
    // width: 19rem;
    width: 21%;
    // background-color: pink;
    margin: 0;
    @include screen("inbetween") {
      display: none;
    }
  }
  .log-content {
    width: 79%;
    @include screen("inbetween") {
      width: 100%;
    }
  }
}
